* {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 13px;
  }
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  align-items: center;
  background-color: #820933;
}

.App-header .App-name {
  font-size: 2.2rem;
  color: #ffffff;
}

.App-header .search-input {
  font-size: 1.5rem;
  min-width: 1rem;
  width: 20vw;
  border: none;
  outline: none;
  background-color: transparent;
  color: antiquewhite;
  border: none;
}

.App-header .search-input:focus {
  border-bottom: 0.1px solid #b5cbb7;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
